.portletSpringMVC-p
{
	margin:0px;
}

.portletSpringMVC-label 
{
	display:block;
	font:12px verdana; 
	color:#666;	
	margin:2px;	
	margin-top:10px;
	cursor:pointer;
}

.portletSpringMVC-fieldset
{
	width:250px;
	padding:15px;
}

.portletSpringMVC-legend
{
   	width:70%;
	background-color:#dde;
	border:0px solid #dcdcdc;
	padding:5px;
	margin:0px;
	font:14px 'Trebuchet MS'; 
	color:#666;		
	text-align:center;
}

.portletSpringMVC-out
{
	border:1px solid #dcdcdc;
	padding:2px;
	font:12px verdana; 
	color:#666;	
	background:url(../images/l-r.png) no-repeat 0 0;
}

.portletSpringMVC-btnsub
{
	border:1px solid #dcdcdc;
	padding:2px;
	font:12px verdana; 
	color:#333;	
	background:url(../images/i-r.png) no-repeat 99% 0;
}